* {
    border: none;
    padding: 0;
    margin: 0;
}


body {
    background-image: url("../assets/form_bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100vw;
    min-height: 100vh;
    height: 100%;
    display: flex;
    z-index: 0;
    justify-content: center;
    align-items: center;
    position: relative;
}

    body::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: inherit;
        filter: blur(5px); /* Ajuste o valor para o nível de desfoque desejado */
        z-index: 0; /* Para garantir que o conteúdo fique sobre o fundo desfocado */
    }

main {
    width: 90%;
    height: 800px;
    background-color: #fff;
    z-index: 1;
    display: flex;
    box-shadow: 10px 10px 40px;
    position: relative;
}

section {
    width: 45%;
    background-image: url("../assets/orcamento.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.container {
    width: 55%;
    background-color: #f1ebeb;
    margin: 0;
    z-index: 1;
    padding: 4% 3%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

h1 {
    margin-bottom: 50px;
}

input {
    font-size: 18px;
    padding: 10px 10px 20px 5px;
    display: block;
    width: 100%;
    border: none;
    border-bottom: 1px solid #757575;
    background: 0;
}

form {
    display: block;
    flex-direction: column;
    vertical-align: middle;
}

.carregamento {
    display: none;
    position: relative;
    width: 100px;
    height: 100px;
    background-color: transparent;
    animation: giro 2s linear infinite;
    transform-origin: center center; /* importante */
}

.carregamento_dot {
    position: absolute;

    top: 50%;
    left: 50%;

    width: 15px;
    height: 15px;
    border-radius: 50%;
    margin: -7.5px;

    background-color: gray;
}

.carregamento_dot:nth-child(1) {
    transform: rotate(0deg) translateX(30px);
}

.carregamento_dot:nth-child(2) {
    transform: rotate(72deg) translateX(30px);
}

.carregamento_dot:nth-child(3) {
    transform: rotate(144deg) translateX(30px);
}

.carregamento_dot:nth-child(4) {
    transform: rotate(216deg) translateX(30px);
}

.carregamento_dot:nth-child(5) {
    transform: rotate(288deg) translateX(30px);
}

input:focus {
    outline: none;
}

/* LABEL ======================================= */
label {
    color: #999;
    font-size: 18px;
    font-weight: normal;
    position: absolute;
    pointer-events: none;
    left: 5px;
    top: 15px;
    transition: 0.2s ease all;
    -moz-transition: 0.2s ease all;
    -webkit-transition: 0.2s ease all;
}

/* active state */
input:focus ~ label, input:valid ~ label {
    top: -20px;
    font-size: 14px;
    color: #5264AE;
}

.group {
    position: relative;
    margin-bottom: 45px;
    width: 100%;
}

input {
    font-size: 18px;
    padding: 10px 10px 20px 5px;
    display: block;
    width: 100%;
    border: none;
    border-bottom: 1px solid #757575;
    background: 0;
    box-sizing: border-box; /* importante! */
}

.bar {
    position: relative;
    display: block;
    width: 100%;
    height: 2px;
    background-color: transparent;
}

    .bar:before,
    .bar:after {
        content: '';
        height: 2px;
        width: 0;
        bottom: 0;
        position: absolute;
        background: #5264AE;
        transition: 0.2s ease all;
    }

    .bar:before {
        left: 50%;
    }

    .bar:after {
        right: 50%;
    }

input:focus ~ .bar:before,
input:focus ~ .bar:after {
    width: 50%;
}

/* HIGHLIGHTER ================================== */
.highlight {
    position: absolute;
    height: 60%;
    width: 100%;
    top: 25%;
    left: 0;
    pointer-events: none;
    opacity: 0.5;
}

/* active state */
input:focus ~ .highlight {
    -webkit-animation: inputHighlighter 0.3s ease;
    -moz-animation: inputHighlighter 0.3s ease;
    animation: inputHighlighter 0.3s ease;
}

canvas {
    display: none;
}

#check_message {
    display: none;
}

/* ANIMATIONS ================ */
@-webkit-keyframes inputHighlighter {
    from {
        background: #5264AE;
    }

    to {
        width: 0;
        background: transparent;
    }
}

@-moz-keyframes inputHighlighter {
    from {
        background: #5264AE;
    }

    to {
        width: 0;
        background: transparent;
    }
}

@keyframes giro {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@keyframes inputHighlighter {
    from {
        background: #5264AE;
    }

    to {
        width: 0;
        background: transparent;
    }
}

button {
    padding: 15px;
    width: 50%;
    border-radius: 5px;
    border: none;
    background-color: #0B108C;
    color: white;
    cursor: pointer;
    margin-bottom: 30px;
    align-self: center;
}

    button:hover {
        background-color: #060842;
        transition: 0.2s;
    }

.bottom-login {
    height: 30%;
    width: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.voltar {
    position: absolute;
    top: 30px;
    left: 30px;
}

.voltar a {
    color: white;
    text-decoration: none;

    font-size: 18px;
    font-weight: 600;
}

@media(max-width: 700px) {
    main {
        flex-direction: column;
    }

    section {
        height: 400px;
        width: 100%;
    }

    .container {
        width: 100%;
        height: 800px;
        padding: 30px 0;
    }

    input {
        width: 90%;
    }

    .bar {
        width: 90%;
    }
}

@media(max-width: 400px) {
    body {
        background-color: #f1ebeb;
        background-image: none;
    }

    main {
        height: 100%;
        width: 100%;
        box-shadow: 5px 0 10px;
    }

    section {
        height: 200px;
    }
}