@page
@model ImperialMarmoraria.Views.Pages.contatosModel
@{
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="~/css/home.css">
    <link rel="stylesheet" href="~/css/contatos.css">
    <link rel="stylesheet" href="~/css/styles.css">
</head>
<body>
    <section>
        <a href="/home">Lista Orçamentos</a>
        <a href="/contatos">Contatos</a>
        <a href="#">Relatórios</a>
        <a href="/funcionarios" id="paginaAtual">Funcionarios</a>
        <a href="/index">Sair</a>
    </section>
    <main>
    </main>

    <script type="module" src="~/js/Api/Login/ProtectFuncionarios.js"></script>
</body>
</html>