@page
@model ImperialMarmoraria.Views.Pages.formModel
@{
}

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Página Inicial</title>
    <link rel="stylesheet" href="~/css/styles.css">
    <link rel="stylesheet" href="~/css/home.css">
</head>
<body>
    <section>
        <a href="/home" id="paginaAtual">Lista Orçamentos</a>
        <a href="#">Contatos</a>
        <a href="#">Relatórios</a>
        <a href="#">Sair</a>
    </section>
    <main>
        <div>
            <div>
                <label for="progresso">Status:</label>
                <select name="progresso" id="progresso">
                    <option value="all">Todos</option>
                    <option value="0">Novo</option>
                    <option value="1">Em andamento</option>
                    <option value="2">Finalizado</option>
                </select>
            </div>
            <div>
                <label for="pesquisa">Pesquisa:</label>
                <input type="text" placeholder="Digite o nome do cliente para exibir o orcamento correspondente" id="pesquisa">
            </div>
        </div>
        <div class="table-fill">
            <div>
                <p></p>
                <p>Nome</p>
                <p>Data entrada</p>
                <p>Status</p>
                <p>Orçamento</p>
                <p>Data finalizado</p>
            </div>
            <div class="table-hover"></div>
        </div>

        <div class="table-pages"></div>
    </main>

    <div class="overlay hidden">
        <div class="cancelarUpdate">
            <h3>Deseja cancelar a atualização?</h3>
            <hr>
            <p>Ao clicar em "Sim", todas as alterações realizadas serão descartadas!</p>
            <div>
                <button id="cancelarNao">Não</button>
                <button id="cancelarSim">Sim</button>
            </div>
        </div>
    </div>

    <div class="overlay hidden">
        <div class="confirmarUpdate">
            <h3>Deseja confirmar a atualização?</h3>
            <hr>
            <p>Ao clicar em "Sim", todas as alterações serão salvas!</p>
            <div>
                <button id="confirmarNao">Não</button>
                <button id="confirmarSim" type="button">Sim</button>
            </div>
        </div>
    </div>

    <div class="overlay hidden">
        <div class="confirmacaoNecessaria">
            <p>Você precisa cancelar ou atualizar o orçamento atual!</p>
            <button>Ok</button>
        </div>
    </div>

    <div class="overlay hidden">
        <div class="carregamento-container">
            <div class="carregamento" id="carregamento">
                <div class="carregamento_dot"></div>
                <div class="carregamento_dot"></div>
                <div class="carregamento_dot"></div>
                <div class="carregamento_dot"></div>
                <div class="carregamento_dot"></div>
            </div>
        </div>
    </div>

    <div class="overlay hidden">
        <div class="atualizado">
            <p>Orçamento atualizado com sucesso!</p>
            <button>Ok</button>
        </div>
    </div>

    <div class="overlay hidden">
        <div class="confirmarDelete">
            <h3>Deseja confirmar a exclusão?</h3>
            <hr>
            <p>Ao clicar em "Sim" o orçamento será excluído permanentemente!</p>
            <div>
                <button id="confirmarExclusaoNao">Não</button>
                <button id="confirmarExclusaoSim" type="button">Sim</button>
            </div>
        </div>
    </div>

    <div class="overlay hidden">
        <div class="excluido">
            <p>Orçamento excluido com sucesso!</p>
            <button>Ok</button>
        </div>
    </div>

    <script type="module" src="~/js/Api/ApiGet/ShowOrcamento.js"></script>
</body>
</html>