@page
@model ImperialMarmoraria.Views.Pages.formModel
@{
}

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Página Inicial</title>
    <link rel="stylesheet" href="~/css/styles.css">
    <link rel="stylesheet" href="~/css/home.css">
</head>
<body>
    <section>
        <a href="#">Lista Orçamentos</a>
        <a href="#">Contatos</a>
        <a href="#">Relatórios</a>
        <a href="#">Sair</a>
    </section>
    <main>
        <div class="table-header">a</div>
        <table class="table-fill">
            <thead>
                <tr>
                    <th class="text-left"></th>
                    <th class="text-left">Nome</th>
                    <th class="text-left">Data entrada</th>
                    <th class="text-left">Status</th>
                    <th class="text-left">Orçamento</th>
                    <th class="text-left">Data finalizado</th>
                </tr>
            </thead>
            <tbody class="table-hover">
                <tr>
                    <td class="text-left">1</td>
                    <td class="text-left">Fulano da Silva</td>
                    <td class="text-left">31/03/2025</td>
                    <td class="text-left">Novo</td>
                    <td class="text-left">R$5000,00</td>
                    <td class="text-left"></td>
                </tr>
                <tr>
                    <td class="text-left">2</td>
                    <td class="text-left">Ciclano da Silva</td>
                    <td class="text-left">25/03/2025</td>
                    <td class="text-left">Em andamento</td>
                    <td class="text-left">R$7000,00</td>
                    <td class="text-left"></td>
                </tr>
                <tr>
                    <td class="text-left">3</td>
                    <td class="text-left">Fulano da Silva</td>
                    <td class="text-left">21/03/2025</td>
                    <td class="text-left">Em andamento</td>
                    <td class="text-left">R$2000,00</td>
                    <td class="text-left"></td>
                </tr>
                <tr>
                    <td class="text-left">4</td>
                    <td class="text-left">Ciclano da Silva</td>
                    <td class="text-left">15/03/2025</td>
                    <td class="text-left">Finalizado</td>
                    <td class="text-left">R$4000,00</td>
                    <td class="text-left">14/03/2025</td>
                </tr>
                <tr>
                    <td class="text-left">5</td>
                    <td class="text-left">Fulano da Silva</td>
                    <td class="text-left">26/02/2025</td>
                    <td class="text-left">Finalizado</td>
                    <td class="text-left">R$1000,00</td>
                    <td class="text-left">09/03/2025</td>
                </tr>
            </tbody>
        </table>
        <div class="table-footer">b</div>
    </main>
</body>
</html>