@page
@model ImperialMarmoraria.Views.Pages.formModel
@{
}

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Página Inicial</title>
    <link rel="stylesheet" href="~/css/styles.css">
    <link rel="stylesheet" href="~/css/login.css">
</head>
<body>
    <main>
        <form class="login-container">
            <div class="flex-login">
                <!--<input type="text" placeholder="Usuário ou email">
                <input type="password" name="" id="" placeholder="Senha">-->
             
                    <div class="group">
                        <input type="text" id="email" required>
                        <span class="highlight"></span>
                        <span class="bar"></span>
                        <label>Usuário</label>
                    </div>
                    <div class="group">
                        <input type="password" id="password" required>
                        <span class="highlight"></span>
                        <span class="bar"></span>
                        <label>Senha</label>
                    </div>

                    <p id="errorMessage"></p>

                <button type="submit">Login</button>
            </div>
        </form>
    </main>

    <script type="module" src="~/js/Api/Login/LoginAuthorization.js"></script>
</body>
</html>