.feedback {
    width: 100%;
    gap: 50px;
    padding: 50px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

    .feedback h1 {
        text-align: center;
        font-family: var(--fonte-subtitulo);
        font-weight: 400;
        font-size: 90px;
    }

    .feedback > div {
        overflow-x: auto;
        display: flex;
        justify-content: flex-start;
        gap: 100px;
        width: 90%;
    }

        .feedback > div > div {
            min-width: 400px;
        }

    .feedback h3 {
        font-size: 26px;
        font-weight: 600;
    }

    .feedback p {
        font-family: var(--fonte-principal);
        font-size: 20px;
        padding: 20px 0;
        text-align: justify;
        color: #000000;
        padding-top: 20px;
    }

.modal {
    display: none;
    position: fixed;
    z-index: 5;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.7);
    justify-content: center;
    align-items: center;
}

.modal-content {
    background-color: #fff;
    padding: 40px 20px 20px;
    width: 80%;
    max-width: 800px;
    position: relative;
}

.close {
    position: absolute;
    top: 5px;
    right: 10px;
    font-size: 40px;
    cursor: pointer;
}

@media(max-width: 1500px) {
    .feedback > div > div {
        min-width: 300px;
        width: 300px;
    }

    .feedback img {
        width: 100%;
    }

    .feedback p {
        width: 100%;
    }
}

@media(max-width: 1300px) {
    .feedback > div {
        padding-bottom: 10px;
    }

        .feedback > div::-webkit-scrollbar {
            height: 6px;
        }

        .feedback > div::-webkit-scrollbar-track {
            background: rgb(230, 230, 230);
            border-radius: 20px;
            cursor: pointer;
        }

        .feedback > div::-webkit-scrollbar-thumb {
            background-color: gray;
            border-radius: 20px;
            cursor: pointer;
        }
}

@media(max-width: 900px) {
    .feedback h1 {
        font-size: 50px;
    }

    .feedback > div {
        gap: 50px;
    }
}

@media(max-width: 500px) {
    .feedback h1 {
        font-size: 35px;
    }

    .feedback p {
        font-size: 18px;
    }
}